/*Grid Layout*/

.gridLayout {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gridLayout:has(div:only-child) {
  grid-template-columns: 2fr 2fr;
}

@media screen and  (max-width: 446px) {
  .gridLayout:has(div:only-child) {
    grid-template-columns: 1fr;
  }
  
}