.termStyle {
  text-decoration: underline dashed 1px var(--ifm-color-primary);
}

.termStyle:hover {
  text-decoration: underline dashed 1px var(--ifm-color-primary);
  transition: 0.3s;
  transition-duration: 0.1s;
}
