/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 *
 * @format
 */

/* You can override the default Infima variables here. */

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Lato";
  src: url("/static/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Lato";
  --ifm-font-family-base: "Lato";
  --ifm-code-font-size: 95%;

  --ifm-color-primary: #107386;
  --ifm-color-primary-dark: #0e6779;
  --ifm-color-primary-darker: #0e6272;
  --ifm-color-primary-darkest: #0b505e;
  --ifm-color-primary-light: #127e93;
  --ifm-color-primary-lighter: #12849a;
  --ifm-color-primary-lightest: #1595ae;

  --ifm-font-color-base-inverse: var(--ifm-color-primary);

  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-link-hover-color: #87b9c3;
  --ifm-navbar-background-color: #122e45;

  --ifm-button-background-color: var(--ifm-color-primary);
  --button-hover-color: var(--ifm-navbar-background-color);
}

html[data-theme="dark"] {
  --ifm-color-primary: #30d9a7;
  --ifm-color-primary-dark: #25ca99;
  --ifm-color-primary-darker: #23be90;
  --ifm-color-primary-darkest: #1d9d77;
  --ifm-color-primary-light: #46ddb1;
  --ifm-color-primary-lighter: #52dfb5;
  --ifm-color-primary-lightest: #73e5c4;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.table-of-contents:before {
  content: "Page Outline";
  font-size: 1.2em;
  font-weight: bold;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

div[class^="announcementBar_"] {
  --site-announcement-bar-stripe-color1: #f9de51;
  --site-announcement-bar-stripe-color2: #f2cc00;

  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: bold;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

@media only screen and (min-width: 992px) {
  H1 {
    font-size: 28px;
  }
  H2 {
    font-size: 22px;
  }
  H3 {
    font-size: 18px;
  }
  H4 {
    font-size: 16px;
  }
  Body {
    font-size: 16px;
  }
}

/*.header {
  font-size: 30px;
  color: var(--ifm-color-primary);
}*/

.invisible {
  display: none;
}

/* .DocSearch-Button-Keys {
  display: none !important;
}
*/

.DocSearch-Button {
  width: 200px;
  color: #000;
}
@media (max-width: 425px) {
  .DocSearch-Button {
    width: unset;
  }
}

/*Need to fix this, not targeting correct variable*/
@media (max-width: 996px) {
  .navbar__toggle {
    color: #ffffff;
  }
}

.navbar-sidebar {
  background-color: #ffffff;
}

.navbar-sidebar > div:first-child {
  background-color: var(--ifm-navbar-background-color);
}

.navbar-item {
  font-size: 16px;
  font-weight: 100 !important;
}

.navbar div.dropdown > a > svg {
  display: none;
}

.navbar div {
  padding-top: 0;
  padding-bottom: 0;
}

/* Footer Styling */

.footer {
  --ifm-footer-background-color: #122e45;
}

.footer a svg path {
  transition: fill var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.footer a svg path:hover {
  fill: var(--ifm-navbar-link-hover-color);
}

.footer a {
  opacity: unset;
  color: #fff;
}

.footer a.license {
  text-decoration: underline;
}

.footer a:hover {
  color: var(--ifm-navbar-link-hover-color);
}

.footer .col a {
  white-space: nowrap;
}

.svg-icons {
  margin-top: 10px;
}

.cfi-logo {
  width: 70%;
}

.footer__title {
  font-size: large;
}

@media screen and (max-width: 996px) {
  .cfi-logo {
    max-width: 300px;
    display: inline-block;
  }

  footer .row {
    text-align: center;
  }
}

.land-acknowledgement {
  height: 60px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* Hero Container Stylings */

.hero {
  background-color: inherit;
  background-image: url("@site/static/img/index-page-images/bg-body.png");
  background-repeat: repeat-x;
}

.hero-container {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  align-items: flex-start;
}

.hero-image {
  max-width: 25%;
  margin-bottom: 10px;
  margin-left: 50px;
  height: auto;
}

.hero-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: left;
}

.hero-content p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

@media screen and (max-width: 996px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    align-items: center;
  }

  .hero-image {
    max-width: 50%;
    margin-bottom: 0;
    margin-right: 15px;
    height: auto;
  }

  .hero-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }

  .hero-content p {
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hero-image {
    max-width: 100%;
    height: auto;
  }
}

/* Button Row Stylings */

.primary-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hero-primary-button-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

@media screen and (max-width: 996px) {
  .hero-primary-button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

.spotlight-primary-button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-primary-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.mobile-carousel-primary-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
  align-self: center;
}

.tile-primary-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  display: none;
}

.tod-primary-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  margin-left: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  .hero-primary-button-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .spotlight-primary-button-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.function-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 20px;
  gap: 10px;
}

.tool-function-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 16px;
  gap: 4px;
}

/* Doc Card Styling */
.card {
  background-color: #f1f1f1;
  border-color: var(--ifm-color-primary);
  height: 126px;
}

.card > h2 {
  color: var(--ifm-color-primary);
}

.card > p {
  color: #000000;
}

/* Fixes for side bar */
.landing-page {
  display: none;
}

/* Weird jitter from hiding top item */
.menu__list .menu__list {
  margin-top: 0;
}

/* For banner images on tool pages and possibly others */
.banner img {
  width: 100%;
  object-fit: contain;
  height: 250px;
  align-items: center;
}

iframe {
  display: flex;
  border: 0;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding-bottom: 10px;
}

@media screen and (max-width: 465px) {
  iframe {
    height: 230px;
    padding-bottom: 10px;
  }
}

.markdown img {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
  align-items: center;
}

/* LightGallery Adjustments */
.lg-sub-html {
  background: var(--ifm-navbar-background-color);
}

.lg-sub-html.lg-sub-html p {
  font-size: 16px;
}
.lg-container .lg-sub-html a {
  text-decoration: underline;
}

.lg-container .lg-sub-html a:hover {
  color: var(--ifm-link-color);
}
